<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web server </title>
    <style>
        body
        {
            background-color: black;
        }

        .indexpage
        {
            margin: 500px auto;
            text-align: center;
        }

        h1
        {
            color: white;
            font-size: 50px;


        }
    </style>
</head>
<body>
    
   
    <div class="indexpage">
        <h1>Index</h1>
    </div>
</body>
</html>